@use "../../scss/variables" as *;
//Son todas las propiedades input de la busqueda
input {
    border: 0;
    background-color: black;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 30px/20px;
    color: whitesmoke;
    font-family:'Source Sans Pro';
}
