.swiper-slide {
    width: 16.1%;
    padding-left: 10px;

    @media only screen and (max-width: 768px) {
        width: 30%;
    }

    @media only screen and (max-width: 425px) {
        width: 40%;
    }
}
