@use "../../scss/breakpoint" as *;

.movie-list {
    .swiper-slide {
        width: 16.1%;

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }
}
