@use "../../scss/" as *;

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px;
    margin-bottom: 3rem;

    @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    }

    &__loadmore {
        text-align: center;
    }
}

.movie-search {
    position: relative;
    width: 100%;
    max-width: 550px;
    margin-left: 33%;

    @media only screen and (max-width: 1336px) {
        margin-left: 28%;

    }
    @media only screen and (max-width: 768px) {
        margin-left: 10%;

    }
    @media only screen and (max-width: 425px) {
        margin-left: 0%;

    }

    input {
        width: 100%;
        text-align: left;
    }

    button {
        position: absolute;
        right: 0;
        top: 2px;

         @media only screen and (max-width: 425px) {
            right: 1px;
            top: 1px;
        }
    }

}
