.section {
    padding: 0 2rem;
}



.section__header {
    text-align: center;
}


.small-home-trending-movie{
    margin-top: 1.3rem !important;
    font-size: 21px !important;
}
.small-home-rated-movies{
    margin-top: 1.3rem !important;
    font-size: 21px !important;
}
.small-home-rated-movies
.first_category{
    margin-top: -4rem;
    margin-bottom: 0.7rem;
}
.second_category{
    margin-top: 6rem;
    margin-bottom: 0.7rem;
}